a {
	color: #000000;
	background-color: #000000;
	background-size: 1vw 1vw;
	text-decoration: none;
}

body {
	font-family: garamond;
	font-size: 4rem;
	background-color: #ffffff;
	padding: 0;
}
