a {
	color: rgb(30%,0%,0%);
}

hr {}

body {
	font-family: monospace;
	font-size: large;
	margin: 10%;
	background-color: #EEEEEE;
	text-align: center;
}

h1 {
	color: rgb(35%, 35%, 35%);
	font-family: monospace;
	font-size: ;
	text-align: center;
}

h2 {
	color: rgb(40%, 40%, 40%);
	font-family: monospace;
	font-size: x-large;
	padding: 5px 0 5px 5px;
	border-bottom: single #CCCCCC;
	text-align: center;
}

h3 {
	color: rgb(40%, 40%, 40%);
	font-family: monospace;
	font-size: x-large;
	padding: 0px 0 0px 0px;
	border: #CCCCCC;
	text-align: center;
}

table {margin-left: 1%;}

th {padding: 0 20px 0 0; font-size: 110%; text-align: left; }

td{padding: 5px; }

.bold {font-weight: bold;}

.italic {font-style: italic;}

.subtitle1 {
	text-align: center;
	font-size: 100%;
}

.subtitle2 {
	text-align: center;
	font-size: 100%;
}

.popout {
	float: right;
	width: 30%;
	background-color: rgb(90%, 90%, 90%);
	padding: 0px;
	margin: 0 0 0px 0px;
	border-left: 10px solid #EEE;
}

.popout h2 {
	font: bold 150% monospace;
	padding: 0 5px;
	margin: 0;
	border-bottom: solid 1px #C00;
}

ul {
	list-style-type: square;
	color: rgb(20%, 20%, 20%);
	list-style-position: inside;
}

@media only screen and (min-width: 800px) {
	h1 {
		font-size: 30px;
	}

	body {
		font-size: 20px;
	}

}
